/**
 * CSS styles for PiP window fixes and customizations
 */

body {
  overflow: auto !important;
}

ytd-miniplayer {
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 100% !important;
  max-height: 100% !important;
  display: flex !important;
}

ytd-miniplayer-player-container {
  width: 100% !important;
  height: 100% !important;
}

.html5-video-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.html5-video-container .html5-main-video {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}

video {
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

.ytDraggableComponentHost.ytdMiniplayerComponentDraggable {
  pointer-events: auto !important;
}

.ytp-miniplayer-expand-watch-page-button,
.ytp-miniplayer-close-button,
#header-contents,
.ytdMiniplayerComponentResizers,
/* TODO: remove when context menu interception is implemented */
.dropdown-trigger {
  display: none !important;
}

/* Stretch progress bar to full width */
.ytp-progress-bar-container,
.ytp-progress-bar {
  width: 100% !important;
}

.ytp-prev-button,
.ytp-next-button {
  display: inline-flex !important;
}

ytd-shorts {
  margin-top: 0px !important;
  --ytd-shorts-masthead-height: 0px !important;
  position: fixed !important;
  width: 100vw !important;
}

.reel-video-in-sequence-new.ytd-shorts,
ytd-reel-video-renderer {
  --ytd-shorts-player-width: 100vw !important;
  --ytd-shorts-player-height: 100vh !important;
}

ytd-shorts .action-container,
ytd-shorts #right-controls,
ytd-shorts .metadata-container button,
ytd-shorts #anchored-panel {
  display: none !important;
}

.reel-video-in-sequence-thumbnail {
  background-size: contain !important;
}

.navigation-container.ytd-shorts {
  transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1) !important;
  display: flex !important;
  opacity: 0 !important;
}

ytd-shorts:hover .navigation-container.ytd-shorts {
  opacity: 1 !important;
}

ytd-shorts #offline-container {
  width: 100vw;
  margin-right: 100px;
}

yt-reel-metapanel-view-model {
  max-width: unset !important;
}

#metapanel.ytd-reel-player-overlay-renderer {
  width: calc(100vw - 32px) !important;
}

ytd-shorts #shorts-container.ytd-shorts {
  margin-right: 0px !important;
}

ytd-shorts ytd-info-panel-content-renderer {
  width: 100vw !important;
}